img {
  display: block;
  max-width: 100%;
  border-radius: 6px;
}

.animLeft {
  animation: fadeLeft 0.2s ease;
}

@keyframes fadeLeft {
  from {
    transform: translateX(-20px);
    opacity: 0%;
  }
  to {
    transform: initial;
    opacity: initial;
  }
}
